<div id="waitingContainer" style="display: none;">
    <div id="waitingContent">
        <div class="waitingSpinner"></div>
        <div id="waitingTextContainer">
            <h2>현재 마이크로소프트로 로그인중</h2>
        </div>
    </div>
</div>